CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_rt305x=y
CONFIG_TARGET_ramips_rt305x_Default=y
CONFIG_PACKAGE_kmod-ath9k-htc=n
CONFIG_PACKAGE_kmod-mt76=n
CONFIG_PACKAGE_kmod-rt2800-lib=n
CONFIG_PACKAGE_kmod-rt2800-usb=n
CONFIG_PACKAGE_kmod-rt2x00-lib=n
CONFIG_PACKAGE_kmod-rt2x00-usb=n
CONFIG_PACKAGE_kmod-usb-dwc2=n
CONFIG_PACKAGE_kmod-usb2=n
#CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=128
